body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    position: relative;
}

.home-button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 34px;
    font-weight: bold;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.home-button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.return-button {
    color: white;
    border: none;
    font-size: large;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    left: 20px;
    margin-right: auto;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.return-button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.top {
    margin-left: 20px;
    margin-right: 20px;

}

.playing-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.playing {
    display: flex;
    background-color: rgb(233, 233, 233);
    margin-bottom: 20px;
}

.poster {
    height: 243px;
    width: 162px;
    background-size: contain;
    border: none;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.poster:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;

}

.playing-information {
    padding-left: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}